a:visited{
	color: purple;
	text-align: center;

}
a:hover{
	text-decoration: none;
	color: red;
}

}
p{
	font-size: 24px;
	text-indent: -9999px;
	line-height: 2;
}

h1{
	font-weight: 100;
	text-indent: 2px;
	text-align: center;
	text-decoration: underline;
	width: 80%;
}
h2{
	text-align: center;
	letter-spacing: 5px;
}
body{
	background-image: url(L.jpg);
	background-repeat: no-repeat;
	background-position: 50% 5%;
	color: #000;
}